<!DOCTYPE html>
<html>
<head><title>Info</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
<link href="./../../style.css?v=0003a16d60ef8b6" rel="stylesheet" />
<script>
    var PageRootPath;
    PageRootPath = "./../..";
    var ArticlePath;
    ArticlePath = "./View";
</script>
<script src="./../../var.js?v=0003a16d60ef8b6"></script>
<script src="./../../articlevar.js?v=0003a16d60ef8b6"></script>
<script src="./../../script.js?v=0003a16d60ef8b6"></script>
</head>
<body>
<div class="Main">
    <div class="Header">
        <div class="Name"><a>CLASS</a></div>
    </div>
    <div class="Navi NaviArticle">
    </div>
    <div class="Article">
        <div class="Title">View</div>
        <div class="Inner">
        
View is Class module list for model interface type, video and audio output.
View modules layer on top of System, like any other modules written in Class lang.
        </div>
    </div>
</div>
</body>
</html>